* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.container {
    width: 100%;
    height: 100vh;
    background: #8FC1B5;
    align-items: center;
    justify-content: center;
}


.gallery {
    width: 50%;
    padding: 5px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.gallery img:hover {
    opacity: 0.7;
    cursor: pointer;
}



h1 {
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background: #042940;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}






/* footer start */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #042940;
    color: #fff;
}

a {
    color: #DBF227;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* footer end */