* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #8FC1B5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #042940;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.calculator form input:hover {
    background: rgba(255, 255, 255, 0.1);
}


form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal {
    width: 145px;
}


form input.operator {
    color: #DBF227;
    background: #005C53;
    border: 1px solid #DBF227;
}

form input.operator:hover {
    background: #DBF227;
    color: #005C53;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #042940;
    color: #fff;
}

a {
    color: #DBF227;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}